.optionsList {
  background-color: #1437d3;
  display: flex;
  padding: 10px;
  border: none;
}

.btn {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  margin-left: 5px;
  width: 60px;
  border: none;
  border-radius: 10px;

  color: #152a9ef3;
  background-color: #d9d7e4;

  transition: background-color 0.7s ease, color 0.7s ease;
}

.btn:hover {
  color: #2511d4;
  background-color: rgb(251, 255, 9);
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 10px;
  }

  .btn {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 30px;
  }
  .btn {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 30px;
  }
  .btn {
    margin-left: 20px;
  }
}
